*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.menu-heading--number,
.menu-heading--title {
  font-size: 20px;
  font-weight: normal;
}

body {
  background-color: #3d3d3d;
}

header {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #3d3d3d;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 10px #00000026;
          box-shadow: 0 2px 10px #00000026;
}

header .logo {
  font-weight: normal;
}

header .logo .o-animation {
  color: orange;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

header .logo .open {
  opacity: 1;
  font-size: 32px;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

header .navbar--item {
  font-size: 18px;
  margin-right: 12px;
}

.slideshow {
  height: 648px;
  background-color: black;
  position: relative;
}

.slideshow .slideshow-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.slideshow .showcase-pizza {
  background-image: url("/public/showcase-pizza.jpeg");
  background-size: cover;
}

.slideshow .showcase-dough {
  background-image: url("/public/showcase-dough.jpeg");
}

.slideshow .showcase-ingredients {
  background-image: url("/public/showcase-ingredients.jpeg");
  background-size: cover;
  background-position: 1%;
}

main .formule-midi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 24px 24px;
  background-color: #ffaa68;
}

main .formule-midi .heading {
  border: 1px solid black;
  padding: 12px 48px;
  margin: 0 auto;
  margin-bottom: 12px;
}

main .heading--title--price {
  font-size: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: underline;
}

main .choices {
  text-align: left;
}

.menu {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 800px;
  background-color: #ffd099d1;
  text-align: center;
}

.menu > * {
  margin-bottom: 32px;
}

.pizza-du-mois {
  border: 1px solid black;
  max-width: 545px;
  padding: 8px 0;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.pizzas-list {
  text-align: left;
  margin-bottom: 24px;
  padding-left: 124px;
}

.pizzas-list .pizzas-list--category {
  display: inline-block;
  margin-bottom: 24px;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.pizzas-list .pizza {
  line-height: 20px;
}

.pizzas-list .pizza .pizza-name {
  font-size: 16px;
}

.pizzas-list .pizza .pizza-ingredients,
.pizzas-list .pizza .pizza--special--ingredients {
  color: dimgray;
  font-size: 14px;
}

.pizzas-list .pizza .pizza-price {
  font-size: 14px;
  color: black;
}

.pizzas-list .pizza--vegan,
.pizzas-list .pizza--baguette {
  position: relative;
}

.pizzas-list .pizza--vegan::before,
.pizzas-list .pizza--baguette::before,
.pizzas-list .pizza--vegan.pizza--baguette:before,
.pizzas-list .pizza--baguette.pizza--vegan::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  position: absolute;
  top: 25%;
  left: -25px;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.pizzas-list .pizza--vegan::before,
.pizzas-list .pizza--baguette.pizza--vegan::before {
  background-image: url("/public/logo-vegan.jpg");
}

.pizzas-list .pizza--baguette::before,
.pizzas-list .pizza--vegan.pizza--baguette::after {
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.pizzas-list .pizza--vegan.pizza--baguette::after {
  left: -40px;
}

.pizzas-list .pizza--special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pizzas-list .pizza--special .colon {
  font-weight: normal;
  margin-right: 4px;
}

.pizzas-list .pizza--special .highlight {
  color: orange;
}

.pizzas-list .pizza--special .pizza--special--ingredients {
  width: 365px;
  margin-top: 1px;
}

.pizzas-list .pizza--special.pizza-mobile {
  display: none;
}

.menu-line--separation {
  border-top: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  margin-bottom: 16px;
}

.menu-bottom {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.menu-bottom .desc,
.menu-bottom .products-desc {
  font-size: 12px;
}

.menu-bottom .desc {
  margin-bottom: 16px;
}

.drinks-desserts {
  background-color: #8388ed;
  border-radius: 8px;
  max-width: 450px;
  padding: 24px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.drinks-desserts .drinks-desserts--title {
  width: 291px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  border-bottom: 1px solid black;
}

.drinks-desserts .logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.drinks-desserts .logo-title img {
  border-radius: 100000px;
}

.drinks-desserts .logo-title .category {
  margin-left: 8px;
  border-bottom: 1px solid black;
}

.drinks-desserts .drinks {
  margin-bottom: 32px;
}

.drinks-desserts .subcategory {
  margin-bottom: 12px;
}

.avis {
  padding: 24px 192px;
  background-color: violet;
}

.avis .avis-title {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.avis .reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 42px;
}

.avis .reviews .review .review--content {
  padding-top: 8px;
}

.avis .reviews .review .review--name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 8px;
}

.avis .reviews .review .review--avatar {
  width: 40px;
  margin-right: 8px;
}

.avis .reviews .review .review--date {
  color: #6f6a6a;
}

.avis .reviews .review .review--comment {
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .slideshow {
    height: 500px;
  }
  main .menu {
    padding-bottom: 64px;
    border-radius: 128px;
  }
  main .menu .pizza-du-mois {
    padding: 12px 8px;
  }
  main .menu .pizza-du-mois {
    max-width: 400px;
  }
  main .menu .pizzas-list {
    padding-left: 42px;
    padding-right: 8px;
  }
  main .menu .pizzas-list .pizzas-list--category {
    margin-bottom: 32px;
    text-align: left;
  }
  main .menu .pizzas-list .pizza--special.pizza-desktop {
    display: none;
  }
  main .menu .pizzas-list .pizza--special.pizza-mobile {
    display: block;
  }
  main .menu .pizzas-list .colon {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */