*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.menu-heading--number,
.menu-heading--title {
  font-size: 20px;
  font-weight: normal;
}

header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    font-weight: normal; // (font-weight > normal et < bold)
    // text-transform: uppercase;
    span {
      color: orange;
    }
  }
  .navbar {
    display: flex;
    height: 100%;
  }
  .navbar--item {
    font-size: 18px;
    margin-right: 12px;
  }
}

// .carousel {
// }

main {
  .formule-midi {
    text-align: center;
    max-width: 768px;
    margin: 32px auto;
    padding: 24px 24px;
    background-color: #f15c5cd3;
    border-radius: 8px;
    .heading {
      display: flex;
      flex-direction: column;
      border: 1px solid black;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 12px;
    }
    .heading--title--price {
      font-weight: bold;
      font-size: 24px;
      text-decoration: underline;
      margin-bottom: 24px;
    }
    .choices {
      text-align: left;
    }
  }
  .menu {
    max-width: 850px;
    min-height: 1000px;
    margin: 0 auto;
    padding-top: 32px;
    border-radius: 800px;
    background-color: #ffd099d1;
    text-align: center;
    > * {
      margin-bottom: 32px;
    }
  }
  .pizza-du-mois {
    border: 1px solid black;
    max-width: 545px;
    padding: 8px 0;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .pizzas-list {
    text-align: left;
    margin-bottom: 24px;
    padding-left: 124px;
    .pizzas-list--category {
      margin-bottom: 24px;
      font-size: 18px;
      text-decoration: underline;
    }
    .pizza {
      line-height: 20px;
      .pizza-name {
        font-size: 16px;
      }
      .pizza-ingredients,
      .pizza--special--ingredients {
        color: rgb(166, 164, 164);
        font-size: 14px;
        // target par une couleur l'ingrédient qui change d'une pizza à une autre ?
        // changer la couleur => plus claire ?
      }
      .pizza-price {
        font-size: 14px; // font-size => plus petite ?
        color: black;
        font-weight: bold;
        // changer la couleur => afin d'emphasise le prix ?
      }
    }
    .pizza--vegan,
    .pizza--baguette {
      position: relative;
    }
    .pizza--vegan::before,
    .pizza--baguette::before,
    .pizza--vegan.pizza--baguette:before,
    .pizza--baguette.pizza--vegan::after {
      content: "";
      background-repeat: no-repeat;
      background-size: 15px 15px;
      display: inline-block;
      width: 15px;
      height: 15px;
      border-radius: 100px;
      position: absolute;
      top: 25%;
      left: -25px;
      transform: translateY(-25%);
    }

    .pizza--vegan::before,
    .pizza--baguette.pizza--vegan::before {
      background-image: url("/public/logo-vegan.jpg");
    }

    .pizza--baguette::before,
    .pizza--vegan.pizza--baguette::after {
      background-image: url("/public/baguette.png");
      // transform: rotate(25deg);
      // background-size: 15px 15px;
      // width: 15px;
      // height: 15px;
    }

    .pizza--vegan.pizza--baguette::after {
      left: -40px;
    }

    .pizza--special {
      display: flex;
      .colon {
        font-weight: normal;
        margin-right: 4px;
      }
      .highlight {
        color: orange;
      }
      .pizza--special--ingredients {
        width: 320px;
        margin-top: 1px;
      }
    }
    .pizza--special.pizza-mobile {
      display: none;
    }
  }
  .menu-line--separation {
    border-top: 1px solid black; // or solid?
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 790px;
    margin-bottom: 24px;
  }
  .menu-bottom {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    .desc,
    .products-desc {
      font-size: 14px; // 14-16px?
    }
    .desc {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 768px) {
  main {
    .menu {
      height: 1150px;
      .pizza-du-mois {
        padding: 12px 8px;
      }
      border-radius: 128px;
      .pizza-du-mois {
        max-width: 400px;
      }
      .pizzas-list {
        padding-left: 42px;
        padding-right: 8px;
        .pizzas-list--category {
          margin-bottom: 32px;
          text-align: left;
        }
        .pizza--special.pizza-desktop {
          display: none;
        }
        .pizza--special.pizza-mobile {
          display: block;
        }
        .colon {
          margin: 0;
        }
      }
      .menu-bottom {
        .desc {
          // margin-bottom: 0;
        }
      }
    }
  }
}
