*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  // font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
  // sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.menu-heading--number,
.menu-heading--title {
  font-size: 20px;
  font-weight: normal;
}

header {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: gray;
  z-index: 1;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    font-weight: normal; // (font-weight > normal et < bold)
    // text-transform: uppercase;
    .o-animation {
      color: orange;
      font-size: 12px;
      opacity: 0;
      transition: all 2s;
    }
    .open {
      opacity: 1;
      font-size: 32px;
    }
  }
  .navbar {
    display: flex;
    height: 100%;
  }
  .navbar--item {
    font-size: 18px;
    margin-right: 12px;
  }
}

.slideshow {
  height: 75vh;
  background-color: black;
  position: relative;
  .slideshow-img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
}

main {
  .formule-midi {
    text-align: center;
    max-width: 768px;
    margin: 32px auto;
    padding: 24px 24px;
    background-color: #f15c5cd3;
    border-radius: 8px;
    .heading {
      border: 1px solid black;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 12px;
    }
  }

  .heading--title--price {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    text-decoration: underline;
  }
  .choices {
    text-align: left;
  }
}
.menu {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-radius: 800px;
  background-color: #ffd099d1;
  text-align: center;
  > * {
    margin-bottom: 32px;
  }
}
.pizza-du-mois {
  border: 1px solid black;
  max-width: 545px;
  padding: 8px 0;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
}

.pizzas-list {
  text-align: left;
  margin-bottom: 24px;
  padding-left: 124px;
  .pizzas-list--category {
    display: inline-block;
    margin-bottom: 24px;
    border-bottom: 1px solid black;
    font-size: 18px;
  }
  .pizza {
    line-height: 20px;
    .pizza-name {
      font-size: 16px;
    }
    .pizza-ingredients,
    .pizza--special--ingredients {
      color: rgb(105, 105, 105);
      font-size: 14px;
      // target par une couleur l'ingrédient qui change d'une pizza à une autre ?
      // changer la couleur => plus claire ?
    }
    .pizza-price {
      font-size: 14px;
      color: black;
    }
  }
  .pizza--vegan,
  .pizza--baguette {
    position: relative;
  }
  .pizza--vegan::before,
  .pizza--baguette::before,
  .pizza--vegan.pizza--baguette:before,
  .pizza--baguette.pizza--vegan::after {
    content: "";
    background-repeat: no-repeat;
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    top: 25%;
    left: -25px;
    transform: translateY(-25%);
  }

  .pizza--vegan::before,
  .pizza--baguette.pizza--vegan::before {
    background-image: url("/public/logo-vegan.jpg");
  }

  .pizza--baguette::before,
  .pizza--vegan.pizza--baguette::after {
    // background-image: url("/public/baguette-removebg-preview.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .pizza--vegan.pizza--baguette::after {
    left: -40px;
  }

  .pizza--special {
    display: flex;
    .colon {
      font-weight: normal;
      margin-right: 4px;
    }
    .highlight {
      color: orange;
    }
    .pizza--special--ingredients {
      width: 320px;
      margin-top: 1px;
    }
  }
  .pizza--special.pizza-mobile {
    display: none;
  }
}
.menu-line--separation {
  border-top: 1px solid black; // or solid?
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 785px;
  margin-bottom: 24px;
}
.menu-bottom {
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  .desc,
  .products-desc {
    font-size: 14px; // 14-16px?
  }
  .desc {
    margin-bottom: 24px;
  }
}

.drinks-desserts {
  background-color: rgb(173, 171, 171);
  border-radius: 4px;
  max-width: 450px;
  padding: 24px;
  margin: 0 auto;
  .drinks-desserts--title {
    width: 255px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-bottom: 1px solid black; // border-bottom or underline or nothing?
  }
  .logo-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    img {
      border-radius: 100000px;
    }
    .category {
      margin-left: 8px;
      border-bottom: 1px solid black;
    }
  }
  .drinks {
    margin-bottom: 24px;
  }

  .subcategory {
    margin-bottom: 12px;
  }
}

.avis {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px 48px;
  background-color: violet;
  .avis-title {
    max-width: 225px;
    border-bottom: 1px solid black;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews {
    .review {
      display: flex;
      align-items: flex-start;
      margin-bottom: 42px;
      .review--content {
        padding-top: 8px;
      }
      .review--name {
        display: inline-block;
        font-weight: bold;
        margin-bottom: 8px;
      }
      .review--avatar {
        width: 40px;
        margin-right: 8px;
      }
      .review--date {
        color: rgb(111, 106, 106);
      }
      .review--comment {
        margin-bottom: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .menu {
      padding-bottom: 64px;
      .pizza-du-mois {
        padding: 12px 8px;
      }
      border-radius: 128px;
      .pizza-du-mois {
        max-width: 400px;
      }
      .pizzas-list {
        padding-left: 42px;
        padding-right: 8px;
        .pizzas-list--category {
          margin-bottom: 32px;
          text-align: left;
        }
        .pizza--special.pizza-desktop {
          display: none;
        }
        .pizza--special.pizza-mobile {
          display: block;
        }
        .colon {
          margin: 0;
        }
      }
      .menu-bottom {
        .desc {
          // margin-bottom: 0;
        }
      }
    }
  }
}
